{% load static %}

<!--=============== HEADER ===============-->
<header class="header" id="header">
	<nav class="nav container">
		<a class="navbar-brand text-dark text-uppercase fw-bold ms-3" href="#">
			<span class="bg-primary bg-gradient p-1 rounded-3 text-light">Jean Marie</span>
			Geronimi
		</a>
		<div class="nav__menu" id="nav-menu">
			<ul class="nav__list ps-0 mb-0">
				<li class="nav__item">
					<a href="#home" class="nav__link">
						<i class="bx bx-home-alt nav__icon"></i>
						<span class="nav__name">Qui suis-je ?</span>
					</a>
				</li>
				<li class="nav__item exp">
					<a href="#skills" class="nav__link">
						<i class="bx bx-user nav__icon"></i>
						<span class="nav__name">Expertises</span>
					</a>
				</li>
				<li class="nav__item folio">
					<a href="#portfolio" class="nav__link">
						<i class="bx bx-book-alt nav__icon"></i>
						<span class="nav__name">Portfolio</span>
					</a>
				</li>
				<li class="nav__item contact">
					<a href="#contactme" class="nav__link">
						<i class="bx bx-briefcase-alt nav__icon"></i>
						<span class="nav__name">Contact</span>
					</a>
				</li>
			</ul>
		</div>
		<img src="{% static img/misc/profil.jpg %}" alt="" class="nav__img" />
	</nav>
</header>
