{% load static %}

<section class="my-0 my-md-5" id="home">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-12 col-md-6">
                <h2 class="fw-bold mb-4">
                    Etudiant en développement d'applications Web & mobiles
                </h2>
                <p class="fw-light fs-4">
                    Issue d'une formation en gestion d’infrastructure Informatique
                    et fort de diverses expériences dans la réflexion et le
                    déploiement de SI, je m'engage à présent dans le domaine du
                    développement web afin de parfaire mes connaissances et de créer
                    des outils aux services des entreprises.
                </p>
            </div>
            <div class="col col-md text-center">
                {% comment %} <img
                    class="rounded-3 shadow section-img"
                    src="{% static 'img/profil.jpg' %}"
                    alt="code"
                    width="60%"
                /> {% endcomment %}
            </div>
        </div>
    </div>
</section>