<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--=============== BOXICONS ===============-->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
		/>
		<!-- BootStrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<!-- Feuille CSS -->
		<link rel="stylesheet" href="../public/assets/css/style.css" />
		<!-- Favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="../public/assets/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="../public/assets/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="../public/assets/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="../public/assets/favicon/site.webmanifest" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<title>monPortfolio</title>
	</head>
	<body
		class="bg-white scrollspy-example"
		data-bs-spy="scroll"
		data-bs-target="#nav-menu"
		data-bs-offset="0"
		tabindex="0"
	>
		<!--=============== HEADER ===============-->
		<header class="header" id="header">
			<nav class="nav container">
				<a class="navbar-brand text-dark text-uppercase fw-bold ms-3" href="#">
					<span class="bg-primary bg-gradient p-1 rounded-3 text-light"
						>Jean Marie</span
					>
					Geronimi
				</a>
				<div class="nav__menu" id="nav-menu">
					<ul class="nav__list ps-0 mb-0">
						<li class="nav__item">
							<a href="#home" class="nav__link">
								<i class="bx bx-home-alt nav__icon"></i>
								<span class="nav__name">Qui suis-je ?</span>
							</a>
						</li>
						<li class="nav__item exp">
							<a href="#skills" class="nav__link">
								<i class="bx bx-user nav__icon"></i>
								<span class="nav__name">Expertises</span>
							</a>
						</li>
						<li class="nav__item folio">
							<a href="#portfolio" class="nav__link">
								<i class="bx bx-book-alt nav__icon"></i>
								<span class="nav__name">Portfolio</span>
							</a>
						</li>
						<li class="nav__item contact">
							<a href="#contactme" class="nav__link">
								<i class="bx bx-briefcase-alt nav__icon"></i>
								<span class="nav__name">Contact</span>
							</a>
						</li>
					</ul>
				</div>
				<img src="../public/assets/img/profil.jpg" alt="" class="nav__img" />
			</nav>
		</header>
		<main>
			<section class="my-0 my-md-5" id="home">
				<div class="container">
					<div class="row gy-4 align-items-center">
						<div class="col-12 col-md-6">
							<h2 class="fw-bold mb-4">
								Etudiant en développement d'applications Web & mobiles
							</h2>
							<p class="fw-light fs-4">
								Issue d'une formation en gestion d’infrastructure Informatique
								et fort de diverses expériences dans la réflexion et le
								déploiement de SI, je m'engage à présent dans le domaine du
								développement web afin de parfaire mes connaissances et de créer
								des outils aux services des entreprises.
							</p>
						</div>
						<div class="col col-md text-center">
							<img
								class="rounded-3 shadow section-img"
								src="../public/assets/img/profil.jpg"
								alt="code"
								width="60%"
							/>
						</div>
					</div>
				</div>
			</section>
			<section class="py-5 bg-light" id="skills">
				<div class="container">
					<h2 class="fw-bold">Mon expertise</h2>
					<h4 class="fw-light">Développement web</h4>
					<div class="row mt-4 gy-4 align-items-center">
						<div class="col-12 col-md-7">
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-html5 fa-2x me-3 htmlColor"></i>
											<p class="fw-bold m-0">HTML5</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated htmlColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 75%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i
												class="fa-brands fa-css3-alt fa-2x me-3 text-primary"
											></i>
											<p class="fw-bold m-0">CSS3</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 60%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i
												class="fa-brands fa-js-square fa-2x me-3 text-warning"
											></i>
											<p class="fw-bold m-0">JAVASCRIPT</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 70%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-bootstrap fa-2x me-3 bsColor"></i>
											<p class="fw-bold m-0">BOOTSTRAP</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar bsColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 75%"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 offset-md-1">
							<img
								class="shadow rounded-3"
								src="../public/assets/img/code.jpg"
								alt="code"
								width="100%"
							/>
						</div>
					</div>
					<div class="row mt-5 gy-4 align-items-center">
						<div class="col-12 col-md-4">
							<img
								class="shadow rounded-3"
								src="../public/assets/img/design.jpg"
								alt="design"
								width="100%"
							/>
						</div>
						<div class="col-12 col-md offset-md-1">
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-4">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-sass fa-2x me-3 sassColor"></i>
											<p class="fw-bold m-0">SASS</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated sassColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 45%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-4">
										<div class="d-flex align-items-center">
											<img
												class="jqueryColor me-3"
												width="15%"
												src="../public/assets/img/jquery.png"
												alt="jquery-logo"
											/>
											<p class="fw-bold m-0">JQUERY</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar jqueryColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 90%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-4">
										<div class="d-flex align-items-center">
											<img
												class="me-2"
												src="../public/assets/img/ajax_logo.png"
												width="20%"
												alt="ajax_logo"
											/>
											<p class="fw-bold m-0">AJAX</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated ajaxColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 90%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-4">
										<div class="d-flex align-items-center">
											<img
												class="me-3"
												src="../public/assets/img/Tailwind_CSS_Logo.png"
												width="15%"
												alt="tailwindcss-logo"
											/>
											<p class="fw-bold m-0">TAILWINDCSS</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar tailColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 40%"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-5 gy-4 align-items-center">
						<div class="col-12 col-md-7">
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-python fa-2x me-3 pyColor"></i>
											<p class="fw-bold m-0">PYTHON</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated pyColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 45%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-java fa-2x me-3 javaColor"></i>
											<p class="fw-bold m-0">JAVA</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar javaColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 35%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<img
												src="../public/assets/img/flask_logo.png"
												class="me-3"
												width="15%"
												alt="flask_logo"
											/>
											<p class="fw-bold m-0">FLASK</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar bg-dark progress-bar-striped progress-bar-animated"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 30%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-solid fa-database fa-2x me-3 sqlColor"></i>
											<p class="fw-bold m-0">SQL</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar sqlColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 60%"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 offset-md-1">
							<img
								class="shadow rounded-3"
								src="../public/assets/img/code2.jpg"
								alt="code"
								width="100%"
							/>
						</div>
					</div>
					<div class="row mt-5 gy-4 align-items-center">
						<div class="col-12 col-md-4">
							<img
								class="shadow rounded-3"
								src="../public/assets/img/devops.jpg"
								alt="design"
								width="100%"
							/>
						</div>
						<div class="col-12 col-md offset-md-1">
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-php fa-2x me-3 phpColor"></i>
											<p class="fw-bold m-0">PHP</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												id="portofolio"
												class="progress-bar progress-bar-striped progress-bar-animated phpColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 75%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-symfony fa-2x me-3 SymColor"></i>
											<p class="fw-bold m-0">Symfony</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar SymColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 60%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-docker fa-2x me-2 dockColor"></i>
											<p class="fw-bold m-0">Docker</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated dockerColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 50%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<img
												class="me-4"
												src="../public/assets/img/twig.png"
												alt=""
												style="width: 15%"
											/>
											<p class="fw-bold m-0">Twig</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar twigColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 70%"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<span id="portfolio"></span>
			</section>
			<section class="py-5" id="portfolio">
				<div class="container">
					<h2 class="fw-bold">Mon portfolio</h2>
					<h4 class="fw-light">Projets personnelles</h4>
					<div class="row mt-4 gy-4 gy-md-4">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
							<div class="flip-card">
								<div class="flip-card-inner">
									<div
										class="flip-card-front p-3 text-start shadow bg-icescream rounded"
									>
										<h3>IceScream</h3>
										<h5>Initiation à Javascript glacée !</h5>
									</div>
									<div class="flip-card-back p-3 shadow text-start rounded">
										<div class="row h-100">
											<div class="col-12 col-md-8">
												<div>
													<h3>Description</h3>
													<p>Petit projet d'initiation à Javascript</p>
												</div>
												<div>
													<h3>Langages utilisés</h3>
													<div class="d-flex gap-3 mt-3">
														<i class="fa-brands fa-html5 fa-2x htmlColor"></i>
														<i
															class="fa-brands fa-css3-alt fa-2x text-primary"
														></i>
														<i
															class="fa-brands fa-js-square fa-2x text-warning"
														></i>
													</div>
												</div>
											</div>
											<div class="col text-end align-self-end">
												<a
													href="https://icescream.jmgeronimi.fr"
													target="_blank"
												>
													<button class="btn btn-outline-primary">
														Visiter
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
							<div class="flip-card">
								<div class="flip-card-inner">
									<div
										class="flip-card-front p-3 text-start shadow bg-webd rounded"
									>
										<h3>WebDesigner</h3>
										<h5>Collaboration entre Dev & WebD Aflokkat</h5>
										<span>Designed by Fiorina.</span>
									</div>
									<div class="flip-card-back p-3 shadow text-start rounded">
										<div class="row h-100">
											<div class="col-12">
												<h3>Description</h3>
												<p class="text-justify">
													Pages statiques en collaboration avec les WebDesigner
													de l'école ESIA d'Aflokkat.
												</p>
											</div>
											<div class="col-8">
												<h3>Langages utilisés</h3>
												<div class="d-flex gap-3 mt-3">
													<i class="fa-brands fa-html5 fa-2x htmlColor"></i>
													<i
														class="fa-brands fa-css3-alt fa-2x text-primary"
													></i>
													<i
														class="fa-brands fa-js-square fa-2x text-warning"
													></i>
												</div>
											</div>
											<div class="col text-end align-self-end">
												<a
													href="https://webd-project.netlify.app"
													target="_blank"
												>
													<button class="btn btn-outline-primary">
														Visiter
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
							<div class="flip-card">
								<div class="flip-card-inner">
									<div
										class="flip-card-front p-3 text-start shadow bg-instantkf rounded"
									>
										<h3>InstantCafé</h3>
										<h5>Projet perso de dashboard en cours de construction.</h5>
									</div>
									<div class="flip-card-back p-3 shadow text-start rounded">
										<div class="row h-100">
											<div class="col-12">
												<h3>Description</h3>
												<p>
													L'un de mes premiers projets d'initiation au
													développement...
												</p>
											</div>
											<div class="col-8">
												<h3>Langages utilisés</h3>
												<div class="d-flex gap-3 mt-3">
													<i class="fa-brands fa-html5 fa-2x htmlColor"></i>
													<i
														class="fa-brands fa-css3-alt fa-2x text-primary"
													></i>
													<i
														class="fa-brands fa-js-square fa-2x text-warning"
													></i>
												</div>
											</div>
											<div class="col text-end align-self-end">
												<a href="https://instantcafe.fun" target="_blank">
													<button class="btn btn-outline-primary">
														Visiter
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-m-6 col-lg-4">
							<div class="flip-card">
								<div class="flip-card-inner">
									<div
										class="flip-card-front p-3 text-start shadow bg-flask rounded"
									>
										<h3>MyNote</h3>
										<h5>Projet réalisé en Python avec le framework Flask.</h5>
									</div>
									<div class="flip-card-back p-3 shadow text-start rounded">
										<div class="row h-100">
											<div class="col-12">
												<h3>Description</h3>
												<p>
													Gestionnaire de notes avec authentification et profil
													utilisateur.
												</p>
											</div>
											<div class="col-8">
												<h3>Langages utilisés</h3>
												<div class="d-flex gap-3 mt-3">
													<i class="fa-brands fa-html5 fa-2x htmlColor"></i>
													<i
														class="fa-brands fa-css3-alt fa-2x text-primary"
													></i>
													<i
														class="fa-brands fa-js-square fa-2x text-warning"
													></i>
													<i
														class="fa-brands fa-python fa-2x"
														style="color: #4584b6"
													></i>
												</div>
											</div>
											<div class="col text-end align-self-end">
												<a href="https://mynote.jmgeronimi.fr/" target="_blank">
													<button class="btn btn-outline-primary">
														Visiter
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-m-6 col-lg-4">
							<div class="flip-card">
								<div class="flip-card-inner">
									<div
										class="flip-card-front p-3 text-start shadow bg-morpion rounded"
									>
										<h3>Morpion Canvas</h3>
										<h5>Petit jeu du Morpion réalisé en JS et Python.</h5>
									</div>
									<div class="flip-card-back p-3 shadow text-start rounded">
										<div class="row h-100">
											<div class="col-12">
												<h3>Description</h3>
												<p>
													Tester vos talents au jeu du Morpion face à un
													programme !
												</p>
											</div>
											<div class="col-8">
												<h3>Langages utilisés</h3>
												<div class="d-flex gap-3 mt-3">
													<i class="fa-brands fa-html5 fa-2x htmlColor"></i>
													<i
														class="fa-brands fa-css3-alt fa-2x text-primary"
													></i>
													<i
														class="fa-brands fa-js-square fa-2x text-warning"
													></i>
													<i
														class="fa-brands fa-python fa-2x"
														style="color: #4584b6"
													></i>
												</div>
											</div>
											<div class="col text-end align-self-end">
												<a href="https://mcanvas.jmgeronimi.fr" target="_blank">
													<button class="btn btn-outline-primary">
														Visiter
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-m-6 col-lg-4">
							<div class="flip-card">
								<div class="flip-card-inner">
									<div
										class="flip-card-front p-3 text-start shadow bg-hauto rounded"
									>
										<h3>Hamster Auto</h3>
										<h5>by Team FromScratch</h5>
									</div>
									<div class="flip-card-back p-3 shadow text-start rounded">
										<div class="row h-100">
											<div class="col-12">
												<h3>Description</h3>
												<p>
													Projet de fin d'étude Bac+2 - École ESIA d'Aflokkat.
												</p>
											</div>
											<div class="col-8">
												<h3>Langages utilisés</h3>
												<div class="d-flex gap-3 mt-3">
													<i class="fa-brands fa-html5 fa-2x htmlColor"></i>
													<i
														class="fa-brands fa-css3-alt fa-2x text-primary"
													></i>
													<img
														class="jqueryColor mb-2"
														width="8%"
														src="../public/assets/img/jquery.png"
														alt="jquery-logo"
													/>
													<img
														class="mb-2"
														src="../public/assets/img/twig.png"
														alt=""
														style="width: 5%"
													/>
													<img
														class="mb-2"
														src="../public/assets/img/mysql_logo.png"
														alt=""
														style="width: 8%"
													/>
													<i class="fa-brands fa-php fa-2x phpColor"></i>
												</div>
											</div>
											<div class="col text-end align-self-end">
												<a href="https://hamsterauto.com" target="_blank">
													<button class="btn btn-outline-primary">
														Visiter
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span id="contactme"></span>
					</div>
				</div>
			</section>
			<section class="py-5 bg-light" id="contactme">
				<div class="container">
					<h2 class="fw-bold">Un projet de création web ?</h2>
					<h4 class="fw-light">Allons en discuter autour d'un café</h4>
					<div class="row mt-5 gy-4 align-items-center">
						<div class="col-12 col-md-3 offset-md-1">
							<!-- <img class="w-100 shadow rounded-3" src="../public/assets/img/grab-a-coffee.jpg" alt="grab-a-coffee" width="100%"> -->
							<div class="cup mx-auto mb-4 mx-md-4 my-md-5">
								<div class="handle shadow"></div>
							</div>
						</div>
						<div class="col-12 col-md-6 offset-md-2">
							<form
								action="javascript:formContact();"
								method="POST"
								class="row gy-4"
							>
								<div class="col-6">
									<label for="inputPrenom" class="form-label">Prénom</label>
									<input
										type="text"
										class="field form-control"
										id="inputPrenom"
										aria-describedby="prenomHelp"
									/>
								</div>
								<div class="col-6">
									<label for="inputNom" class="form-label">Nom</label>
									<input
										type="text"
										class="field form-control"
										id="inputNom"
										aria-describedby="nomHelp"
									/>
								</div>
								<div class="col-12">
									<label for="inputEmail" class="form-label"
										>Adresse mail</label
									>
									<input
										type="email"
										class="field form-control"
										id="inputEmail"
										aria-describedby="emailHelp"
									/>
								</div>
								<div class="col-12">
									<label for="inputMessage" class="form-label">Message</label>
									<textarea
										class="field form-control"
										id="inputMessage"
										rows="3"
									></textarea>
								</div>
								<div class="col-12">
									<div class="form-check">
										<input
											class="form-check-input"
											type="checkbox"
											id="flexCheckDefault"
											required
										/>
										<label class="form-check-label" for="flexCheckDefault"
											>En cochant cette case, vous acceptez les CGU du site.
										</label>
									</div>
								</div>
								<div>
									<button
										type="submit"
										class="d-flex justify-content-center btn btn-primary w-100"
										id="btn-submit"
									>
										Envoyer
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="border-top mb-5 mb-md-0">
			<div class="container py-5">
				<div class="row gy-4 gy-md-4 align-items-center">
					<div class="col-12 col-sm-12 col-md-4 text-center text-md-start">
						<a class="navbar-brand text-dark text-uppercase fw-bold" href="#">
							<span class="bg-primary bg-gradient p-1 rounded-3 text-light"
								>Jean Marie</span
							>
							Geronimi
						</a>
					</div>
					<div class="col-12 col-sm col-md-4 text-center text-md-center">
						<a
							class="text-dark"
							type="button"
							data-bs-toggle="modal"
							data-bs-target="#mentionsLegales"
							>Mentions légales</a
						>
					</div>
					<div class="col col-sm col-md text-center text-md-end">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<a
									href="https://twitter.com/jmgeronimi"
									target="_blank"
									class="text-decoration-none text-dark"
								>
									<i class="fa-brands fa-socials fa-twitter-square fa-2x"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a
									href="https://github.com/s3kiro23"
									target="_blank"
									class="text-decoration-none mx-4 text-dark"
								>
									<i class="fa-brands fa-socials fa-git-square fa-2x"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a
									href="www.linkedin.com/in/jmgeronimi"
									target="_blank"
									class="text-decoration-none text-dark"
								>
									<i class="fa-brands fa-socials fa-linkedin fa-2x"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- Modal -->
		<div
			class="modal fade"
			id="mentionsLegales"
			tabindex="-1"
			aria-labelledby="mentionsLegales"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="mentionsLegales">Mentions légales</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<div>
							<h4>Webmaster</h4>
							<p>Jean Marie Geronimi</p>
						</div>
						<div>
							<h4>Hébergement</h4>
							<p>
								Hébergeur : OVH<br />
								Siège social : 2 rue Kellermann - 59100 Roubaix - France<br />
								RCS Lille Métropole 424 761 419 00045<br />
								Code APE 2620Z<br />
								SAS au capital de 10 174 560 €<br />
								RCS : Lille Métropole – SIRET : 424 761 419 00045<br />
								TVA : FR 22 424 761 419
							</p>
						</div>
						<div>
							<h4>Données personnelles</h4>
							<p>
								Les seules informations recueillies sur ce site sont celles
								données par le formulaire de contact. Elles ne sont utilisées
								que pour vous répondre et ne sont pas stockées dans des fichiers
								numériques et ne sont ni revendues ni communiqées à des tiers à
								des fins commerciales et/ou publicitaires.
								<br />
								Conformément aux lois « Informatique & Liberté » et « RGPD »,
								vous pouvez nous contacter pour vous assurer de la bonne
								conformité à ces déclarations.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<btn-top-component></btn-top-component>

		<!-- Javascript -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="../public/js/index.js"></script>
		<script src="../public/js/backTopBtn.js"></script>
		<!-- Font-awesome -->
		<script
			src="https://kit.fontawesome.com/9414e04596.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>